// @import 'variables';
@import '../variables';

.categories {
  margin-bottom: 30px;

  ul {
    display: flex;

    li {
      background-color: #fff;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);
      transition: box-shadow .2s ease;

      &:hover {
        box-shadow: 0 3px 4px 0 rgba(0,0,0,.2);
        transition: box-shadow .2s ease;
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
