$background: #f6f6f6;

.wishlist {
  &__management {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 15px;

    &_info {
      font-size: 22px;
      margin-bottom: 15px;

      @media (max-width: 425px) {
        font-size: 18px;
      }
    }

    &_main {
      display: flex;
      column-gap: 10px;
    }

    &_input {
      padding: 10px 20px;
      background-color: $background;
      border-radius: 8px;
      display: flex;
      align-items: center;

      input {
        margin-right: 5px;
        width: 15px;
        height: 15px;
      }

      label {
        font-size: 16px;
      }
    }
  }

  &__clear {
    padding: 5px;
    background-color: $background;
    border-radius: 8px;

    img {
      width: 26px;
      height: 26px;
    }
  }
}
