.popup__copy {
  position: absolute;
  top: 30px;
  left: 0;
  width: 90%;
  background-color: #212121;
  padding: 14px 7px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  opacity: .8;
}
